<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dog Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>

  <body>
    {% include "common/nav.html" %}
      <div class="container-fluid text-center">
        <div class="row bg-dark-subtle p-5">
          <div class="col">
            <div class="text-black">
              <h1>Hello! Welcome to this Dog breeds website!</h1><br/>
              <p>This website uses the dog API to provide information on various dog breeds</p>
            </div>
          </div>
        </div>
        <div class="row p-5 text-center">
          <div class="col">
            <h2>Info</h2>
            <p>When you're ready, click the "Breeds" tab in the navigation bar at the top of the page in order to move to a page that 
              has a list of dog breeds. From there you can click on any of the breeds to view more info on them. Alternatively,
              if you already have the id of a breed you want too see you can enter it after typing a / after breeds in navigation bar.
              You can also get some breed facts by clicking on the "Facts" tab in the navigation bar.
            </p>
          </div>
          <div class="row border-top p-5 pt-0 ps-0 mt-5">
          </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>